<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">详情</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form">
						<fieldset disabled>
																		<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">手机</label>
												<div class="col-sm-2">
													<input type="text" value="$!{workUser.phone}" name="phone" id="phone" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">用户账号</label>
												<div class="col-sm-2">
													<input type="text" value="$!{workUser.username}" name="username" id="username" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">密码</label>
												<div class="col-sm-2">
													<input type="text" value="$!{workUser.password}" name="password" id="password" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">有效状态</label>
												<div class="col-sm-2">
													<input type="text" value="$!{workUser.status}" name="status" id="status" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">用户KEY</label>
												<div class="col-sm-2">
													<input type="text" value="$!{workUser.userkey}" name="userkey" id="userkey" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">身份证号</label>
												<div class="col-sm-2">
													<input type="text" value="$!{workUser.idcard}" name="idcard" id="idcard" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">真实名字</label>
												<div class="col-sm-2">
													<input type="text" value="$!{workUser.realname}" name="realname" id="realname" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">性别</label>
												<div class="col-sm-2">
													<input type="text" value="$!{workUser.sex}" name="sex" id="sex" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">地址</label>
												<div class="col-sm-2">
													<input type="text" value="$!{workUser.address}" name="address" id="address" class="form-control" />
												</div>
											</div>
						</fieldset>
						<div class="form-group mno">
							<div class="col-sm-offset-1 col-sm-6">
								<button type="button" class="btn btn-default" id="formReturn" data-dismiss="modal" onclick="doUrl('$!{basePath}/jeecg/workUser.do?list')"><i class="fa fa-arrow-circle-left"></i> 返回</button>
							 </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>