<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">详情</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form">
						<fieldset disabled>
																		<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">申报编号</label>
												<div class="col-sm-2">
													<input type="text" value="$!{workInterview.applyId}" name="applyId" id="applyId" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">指南编号</label>
												<div class="col-sm-2">
													<input type="text" value="$!{workInterview.guideId}" name="guideId" id="guideId" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">实施部门</label>
												<div class="col-sm-2">
													<input type="text" value="$!{workInterview.management}" name="management" id="management" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">预约状态</label>
												<div class="col-sm-2">
													<input type="text" value="$!{workInterview.interviewStatus}" name="interviewStatus" id="interviewStatus" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">预约日期 </label>
												<div class="col-sm-2">
													<input type="text" value="$!dateTool.format("yyyy-MM-dd",$!{workInterview.interviewDate})" name="interviewDate" id="interviewDate" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">时间段</label>
												<div class="col-sm-2">
													<input type="text" value="$!{workInterview.choosTime}" name="choosTime" id="choosTime" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">办理日期</label>
												<div class="col-sm-2">
													<input type="text" value="$!dateTool.format("yyyy-MM-dd",$!{workInterview.dealDate})" name="dealDate" id="dealDate" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">办理人员</label>
												<div class="col-sm-2">
													<input type="text" value="$!{workInterview.dealPersion}" name="dealPersion" id="dealPersion" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">审核人 </label>
												<div class="col-sm-2">
													<input type="text" value="$!{workInterview.audit}" name="audit" id="audit" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">回复</label>
												<div class="col-sm-2">
													<input type="text" value="$!{workInterview.reply}" name="reply" id="reply" class="form-control" />
												</div>
											</div>
						</fieldset>
						<div class="form-group mno">
							<div class="col-sm-offset-1 col-sm-6">
								<button type="button" class="btn btn-default" id="formReturn" data-dismiss="modal" onclick="doUrl('$!{basePath}/jeecg/workInterview.do?list')"><i class="fa fa-arrow-circle-left"></i> 返回</button>
							 </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>